// ***** Constant Variables ***** //
$black: #000000;
$white: #FFFFFF;
$dark: #222222;
$gray: #666666;
$light: #EEEEEE;
$rem-base: 16px;
$space: 26px;
$border: #DDDDDD;
$link: #4183c4;

// ***** Messages Colors ***** //
$notice: #BBBBBB;
$info: #2EA2CC;
$warning: #FFBA00;
$success: #7AD03A;
$error: #DD3D36;
