.entry-grid {

    body:not(.error404):not(.page-template-full-width) & .site-main {
        max-width: 720px;
        width: 100%;
    }

    .hentry {
        border-bottom: 1px dotted #ddd;
        margin-bottom: 3rem;
        padding-bottom: 24px;
    }

    .entry-media {
        border-bottom: 3px solid #eee;
        display: inline-block;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .entry-footer {
        font-size: 13px;
    }
}

.entry-grid .hentry:after {
    content: '';
    display: table;
    clear: both;
}

.post-box-style {

    & {
        background-color: #f5f5f5;
        border-top: 1px solid #eeeeee;
    }

    .grid {
        margin-bottom: 0;
    }

    .post {
        background: white;
        border-radius: 4px;
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
        overflow: hidden;
        transition: all 0.4s ease 0s;
        margin-bottom: 2rem;
        position: relative;

        &:hover {
            box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
        }
    }

    h4 {
        font-size: rem-calc(18);
        font-weight: 400;
        margin: 0;

        a {
            color: #272727;
        }
    }

    .entry-header {
        border-bottom: 1px solid #e4e5e7;
    }

    img {
        width: 100%;
    }

}

.post-box-style .entry-header,
.post-box-style .entry-footer {
    padding: 15px;
}

.entry-content {
    font-size: rem-calc(16);
    color: #666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .blog &,
    .search &,
    .archive & {
        font-size: rem-calc(15);
    }
}

.entry-title {
    font-weight: 400;
    line-height: 1.3;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    letter-spacing: -0.03rem;

    a {
        color: #232323;

        &:hover {
            border-bottom: 1px dotted;
        }
    }
}

h1.entry-title {
    font-size: 34px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    & > div {
        max-width: 45%;
    }

    a:hover {
        color: inherit;
    }
}

.navigation.post-navigation {
    border-bottom: 1px dotted #ddd;
    margin-bottom: 4rem;
}

/* 404 Page */
.error-404 {
    &.not-found {
        padding: 3rem 0 7rem;
        text-align: center;
    }

    .page-title {
        font-size: 20px;
    }

    .search-form {
        justify-content: center;
    }

    .page-header {
        margin-bottom: 60px;
    }
}

.not-found-tag {
    font-size: 180px;
    font-weight: 700;
    letter-spacing: 0.3rem;
}

.search-form {
    display: flex;

    label {
        min-width: 30%;
    }
}

.page-content .search-field {
    height: 42px;
    border-right: 0;
}

.widget .search-form {
    display: block;
}