.site-header {
    position: relative;
    z-index: 100;

    .page-template-homepage &:after {
        background-color: rgba($color_black, 0.1);
        content: ' ';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    .grid-cell {
        align-self: center;
        flex: 1 1 auto;
    }
}

.fixed-header {
    height: 52px;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

body:not(.page-template-homepage) .site-content {
    padding-top: 70px;
    padding-bottom: 50px;
}

@media screen and (min-width: $grid-large-breakpoint) {
    .fixed-header {
        height: 60px;
    }

    body:not(.page-template-homepage) .site-content {
        padding-top: 90px;
        padding-bottom: 60px;
    }
}

.site-title {
    font-size: rem-calc(22);
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-transform: uppercase;

    @include letter-spacing(25);

    a {
        color: $color_white;
        text-decoration: none;
    }
}

.home-banner {
    color: $color_white;
    font-size: 28px;
    font-weight: 100;
    position: relative;
    text-align: center;
    @include letter-spacing(25);

    &:after {
        background: url('./img/header-bg.png') no-repeat 50% 100%;
        bottom: 0;
        content: ' ';
        height: 166px;
        left: 0;
        opacity: 0.1;
        position: absolute;
        right: 0;
        width: 100%;
    }

    .grid-cell {
        position: relative;
        z-index: 10;
    }

    strong {
        font-weight: 500;
    }

    &.home-section {
        padding: 5rem 0;
    }
}

.banner-content {
    .button.invert {
        margin-top: 3rem;
    }

    p:last-child {
        margin-bottom: 0;
    }
}