.home-section {
	padding: rem-calc(80 0);

	h2 {
		font-size: rem-calc(35);
		font-weight: 300;
		line-height: 1;
		margin-bottom: rem-calc(80);
		text-align: center;
	}
}

.home-feature-content {
	padding: rem-calc(20 0);
	text-align: center;
}

.home-feature-pages,
.home-latest-blog {
	background-color: #f5f5f5;
    border-top: 1px solid #eeeeee;
}

.home-about-section {
	padding: 3rem 0;
}

.home-about-content {
	font-size: 18px;
    font-weight: 300;
    text-align: center;

	h2 {
		margin-bottom: 2rem;
	}
}

.img-wrap {
	border-radius: 4px;
	overflow: hidden;
	position: relative;

	&:after {
		background: rgba($color_black, 0.35);
		content: ' ';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	h4 {
		bottom: 0;
		font-size: 16px;
		font-weight: 300;
		margin: 0;
		@include letter-spacing(25);
		padding: rem-calc(0 20 20);
		position: absolute;
		width: 100%;
		z-index: 1;
	}

	a {
		color: $color_white;
		text-decoration: none;
	}

}

.home-theme-features {
	font-size: rem-calc(15);
    font-weight: 300;
	padding-bottom: 1rem;
	text-align: center;

	h4 {
		font-size: rem-calc(19);
		font-weight: 400;
		margin-bottom: rem-calc(20);
	}

	li {
		margin-bottom: 4rem;
	}

	.icon {
		color: #ee6e73;
		display: inline-block;
		font-size: rem-calc(32);
		margin-bottom: rem-calc(20);
	}

	p {
		margin: 0;
		padding: rem-calc(0 15);
	}
}