.entry-grid {
    justify-content: space-between;


    .content-area {
        max-width: 760px;
    }

    .hentry {
        border-bottom: 1px dotted #999;
        margin-bottom: 60px;
        padding-bottom: 24px;
    }

    .entry-media {
        margin-bottom: 30px;
        overflow: hidden;
    }

    .entry-footer {
        font-size: 13px;
    }
}