.widget-area {
    font-size: 14px;
    font-weight: 300;

    .widget-title {
        color: #272727;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.03rem;
        line-height: 1.5;
        margin: 0 0 22px;
        text-transform: uppercase;

        &:after {
            border-bottom: 1px solid #ddd;
            content: '';
            display: block;
            margin: 10px 0 0;
            width: 40px;
        }
    }

    a {
        color: #777;
    }
}

.widget {
    ul {
        list-style: none;
        margin-left: 0;
    }

    li {
        padding: 5px 0 5px 16px;
        position: relative;


        &:before {
            content: '\e649';
            font-family: $font__icon;
            font-size: 7px;
            font-weight: bold;
            left: 0;
            padding-right: 7px;
            position: absolute;
            top: 10px;
        }
    }
}